
<form method="POST" action="/">
<label>Name: </label><br>
<input type="text" name="name"><br>
<label>Breed: </label><br>
<input type="text" name="breed"><br>
<label>Age: </label><br>
<input type="text" name="age"><br>
<button type="submit" value="submit">submit</button>
</form>